@{
    ViewData["Title"] = "Kapcsolatok";
}

<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Generic Könyvelőiroda</h1>
            <p>Saját könyvelő irodánk büszkén kínál szaktudást és megbízhatóságot ügyfeleink számára. Célunk, hogy támogassuk ügyfeleinket pénzügyi céloik elérésében és az adózási kötelezettségeik hatékony kezelésében. Tapasztalt és lelkes csapatunk segít Önnek az üzleti növekedésben, a költségek optimalizálásában és az adóterhek csökkentésében. Rugalmas megközelítésünk révén személyre szabott szolgáltatásokat nyújtunk minden ügyfelünknek, melyek tükrözik az egyedi vállalkozási kihívásokat. Bízza ránk pénzügyeit, hogy Ön nyugodtan koncentrálhasson vállalkozása fejlesztésére és sikereinek elérésére.</p
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Facebook</h2>
                <p>Tekintse meg Facebook oldalunkat további frissítésekért és pénzügyi tanácsokért. Kövessen bennünket, hogy mindig naprakész legyen az újdonságokkal és szolgáltatásainkkal kapcsolatban!</p>
                <p><a class="btn btn-primary p-2 px-3" href="https://www.facebook.com/" target="_blank" role="button"><i class="bi bi-facebook"></i> &nbsp; Facebook</a></p>
            </div>
            <div class="col-md-4">
                <h2>Székhelyünk</h2>
                <p>Ügyvédi irodánk székhelye a következő címen található: <b>123 Képzeletbeli utca, Varázslatos Város, Meseország.</b> Várjuk Önt szeretettel irodánkban, ahol személyesen is rendelkezésére állunk pénzügyi kérdéseivel kapcsolatban.</p>
            </div>
            <div class="col-md-4">
                <h2>Elérhetőségeink</h2>
                <p>Ha kérdése van, vagy szeretné felvenni velünk a kapcsolatot, írjon nekünk az <a href="mailto:info@kitalaltiroda.hu">info@kitalaltiroda.hu</a> e-mail címre, vagy hívjon minket a <u>+36 1 234 5678</u> telefonszámon. Örömmel állunk rendelkezésére, hogy segítsünk pénzügyi igényeiben.</p>
            </div>
        </div>
    </div>
</div>
