@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="images/random_text.png" class="shadow-lg" />

    <div class="mt-4 text-start">
        <h1><b>Hogyan válassz könyvelőt?</b></h1>
        <p>
            Minden új és már működő vállalkozás egyik kulcsa a jó könyvelő kiválasztása. Melyek legyenek a fő könyvelő választási szempontok? Mi alapján válasszunk könyvelőt?
            Természetesen vannak szempontok, amikre érdemes odafigyelned könyvelő választásnál.
        </p>
        <h2>
            Az első kérdés a szakmaiság.
        </h2>

        <ul>
            <li>Mennyire felkészült? Mennyire naprakész?</li>
            <li style="list-style-type: none;">
                <ul>
                    <li>
                        Ezt nem biztos, hogy elsőre fel tudod mérni, de azért érdemes megérdeklődni, hogy rendelkezik-e a szükséges bizonyítvánnyal.
                    </li>
                    <li>
                        Van-e könyvelői felelősségbiztosítása?
                    </li>
                    <li>
                        Rendszeresen <a href="/News/Details/7" target="_blank">képzi-e magát a könyvelő?</a>
                    </li>
                </ul>
            </li>
            <li>
                El tudja-e mondani, mi vár rád?
            </li>
            <li style="list-style-type: none;">
                <ul>
                    <li>
                        Vállalkozni nem könnyű műfaj, az adózása pedig végképp nem.
                    </li>
                    <li>
                        Elmond-e több lehetőséget, milyen vállalkozást indíts? Hogyan adózz?
                    </li>
                    <li>
                        Elmondja-e, hogy hogyan tudsz alkalmazottat foglalkoztatni? Milyen kedvezmények vannak?
                    </li>
                    <li>
                        És a legfontosabb! Érthetően, magyarul beszél-e? Fontos-e számára,hogy megértsd?
                    </li>
                </ul>
            </li>
        </ul>

        <h2>
            A második kérdés, hogy a könyvelő illetve a könyvelő iroda valóban érted fog-e dolgozni?
        </h2>

        <ul>
            <li>A könyvelő helyzete speciális. Csúnyán mondva az államnak dolgozik, de te fogsz érte fizetni.</li>
            <li>Ráér-e a vállalkozásodra?</li>
            <li>Időben értesít-e a fizetnivalókról?</li>
            <li>Gondolkodik-e azon, hogy érdemes-e más adózást választanod? Hátha megtakarítasz egy kis pénzt.</li>
            <li>Előre jelzi-e, hogy milyen határidők jönnek, amik téged érintenek?</li>
            <li>Segít-e információt keresni a munkaügyi központnál, van-e kedvező bértámogatási forma a számodra?</li>
        </ul>

        <h2>
            A harmadik kérdés a könyvelő az emberi oldal.
        </h2>

        <ul>
            <li>Szimpatikus vagy sem?</li>
            <li>Tudsz-e vele hosszútávon dolgozni vagy sem?</li>
            <li>El tudod-e mondani neki a céges gondjaidat?</li>
        </ul>

        <h5>
            A könyvelőd kiválasztása nagy felelősség. Bár adóügyekben ő lesz a kapcsolat közted és az állam között, a felelős Te vagy!
        </h5>
        <h5>
            Válassz jól! Válassz jót! Válassz minket!
        </h5>
    </div>
</div>
